@tailwind base;
@tailwind components;
@tailwind utilities;

@import './mixins.scss';
@import './fonts.scss';

body {
  @include roboto-flex();
  width: 100wv;
  height: 100wh;
  line-height: 100%;
}

.roboto {
  @include roboto();
}

.roboto-flex {
  @include roboto-flex();
  
}

.roboto-serif {
  @include roboto-serif();
}

.inter {
  @include inter();
}

.flex-center {
  display: flex; 
  justify-content: center;
  align-items: center;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

